---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About me</title>
	</head>
	<body>
		<a href="/">Home</a>
        <a href="/blog/">Blog</a>
        <a href="/about/">About</a>

		<h1>About me</h1>
        <h2>Full stack & Mendix developer working @ Van Markce</h2>
        <p>
			13 Years of experience, going back to jQuery, Java Spring MVC. <br>
            Now professionally Low code in the form of Mendix. <br>
            And in my free time I like to play around in JS world with React, Svelte, Astro, Nodejs. <br>
            But also in GO in build standalone backend services. <br>
            In between I have seen the likes of angularjs, react pre hooks era and Java Spring Boot.
        </p>
	</body>
</html>
